[submodule "crates/ctranslate2-bindings/CTranslate2"]
	path = crates/ctranslate2-bindings/CTranslate2
	url = https://github.com/OpenNMT/CTranslate2.git
[submodule "crates/llama-cpp-bindings/llama.cpp"]
	path = crates/llama-cpp-bindings/llama.cpp
	url = https://github.com/TabbyML/llama.cpp
[submodule "experimental/cceval/cceval"]
	path = experimental/cceval/cceval
	url = https://github.com/amazon-science/cceval
